<div>
    
    <input type="text" ng-model="wrText" ng-show="local.edit" class="{{local.cssClass}}" style="{{local.cssStyle}}" />
    <!--<input type="text" value="{{wrText}}" ng-model="wrText" ng-show="local.edit" class="input-sm" style="width:80%" />-->
    <span ng-show="!local.edit" ng-bind-html="wrText"></span>
    [
    <div class="btn-group">
        <a ng-click="actions.edit()" style="color:black">
            <span class="glyphicon glyphicon-pencil" tooltip="{{labels.editTooltip}}"></span>
        </a>
    </div>
    <span ng-show="local.isDeletable">|</span>
    <div class="btn-group" ng-show="local.isDeletable">
        <a ng-click="actions.remove()" style="color:black">
            <span class="glyphicon glyphicon-remove" tooltip="{{labels.deleteTooltip}}"></span>
        </a>
    </div>
    ]

</div>