<div class="container" >
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{labels.brand}}</a>
    </div>
    <div ng-show="!local.isInMaintenance">
        <div ng-class="{'navbar-collapse' : true, in : !navCollapsed, collapse : true }" ng-style="!navCollapsed?{height:'auto'}:{}">

            <!-- User Navigation Bar -->
            <div ng-include="'modules/user/UserNavBar.html'"></div>
            <!-- Main Menù Navigation Bar -->
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active : isActiveMenu($index), dropdown: hasSubMenu($index)}" ng-switch="item.subMenu">
                    <a ng-switch-when="undefined" ng-href="#{{item.route}}">{{item.title}}</a>
                    <a ng-switch-default ng-href="#{{item.route}}" class="dropdown-toggle">{{item.title}}<b class="caret"></b></a>
                    <ul ng-switch-default class="dropdown-menu">
                        <li ng-repeat="subItem in item.subMenu"><a ng-href="#{{subItem.route}}">{{subItem.title}}</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Search Form Navigation Bar -->
            <div class="container" ng-include="'modules/lesson/LessonSearch.html'"></div>
        </div><!--/.nav-collapse -->

    </div>
</div>
