<script type="text/ng-template" id="UserImage">
    <div class="modal-header">
        <button type="button" ng-click="actions.cancel()" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">{{labels.userImageTitle}}</h3>
    </div>
    <div class="modal-body">

        <div class="row">
            <!-- Login Panel -->
            <div class="col-md-12">
                    <!--<div class="panel-heading"><h3 class="panel-title">Cambia Immagine{{labels.login}}</h3></div>-->

                        <div class="row">
                            <div class="col-md-12">
                                <div class="upload-file btn btn-primary" ng-click="actions.clearQueue()">
                                    <span>{{labels.userImageChooseFile}}</span>
                                    <input ng-file-select type="file" />
                                </div>
                                <button type="button" class="btn btn-success" ng-click="local.item.upload()" ng-disabled="local.item==null">
                                    <span class="glyphicon glyphicon-upload"></span> {{labels.userImageUpload}}
                                </button>
                                <!--<button type="button" class="btn btn-warning" ng-click="local.item.cancel()" ng-disabled="!local.item.isUploading">
                                    <span class="glyphicon glyphicon-ban-circle"></span> {{labels.userImageCancel}}
                                </button>-->
                            </div>
                        </div>
                        <div ng-repeat="item in uploader.queue">
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Image preview -->
                                    <!--auto height-->
                                    <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                    <!--auto width-->
                                    <div class="image-thumbnail" ng-show="uploader.isHTML5" ng-thumb="{ file: item.file, height: 300 }"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="progress" style="margin-bottom: 0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                                    </div>
                                    {{labels.userImageName}} <strong>{{ item.file.name }}</strong><br />
                                    <div ng-show="uploader.isHTML5">{{labels.userImageSize}} <strong>{{ item.file.size/1024/1024|number:2 }} MB</strong></div><br />
                                </div>
                            </div>

                            <!--<div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span> Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                        <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span> Remove
                                    </button>
                                </div>
                            </div>-->
                        </div>
            </div>
        </div>

    </div>
    <!--
    <div class="modal-footer">
    </div>
        -->
</script>