<div>
    <div class="col-md-{{comment.level}}" ng-show="comment.level>0" ng-if="!local.base"></div>
    <a class="col-md-1" ng-click ng-if="!local.base">
        <img ng-src="{{comment.author.image}}" width="48px" height="48px" class="img-rounded img-responsive">
    </a>
    <div class="col-md-{{11-comment.level}}" ng-if="!local.base">
        <div class="row" id="{{local.commentIdHtml}}">
            <!-- User's Comment-->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>{{comment.author.username}}</b> - <small>{{comment.date | date:'dd/MM/yyyy HH:mm'}}</small>
                    <div class="btn-group btn-group-xs pull-right" ng-show="local.isLogged && local.sameUser">
                        <button type="button" class="btn btn-inverse" ng-click="local.edit=!local.edit;local.EditText=comment.content" tooltip="{{labels.editTooltip}}"><span class="glyphicon glyphicon-edit"></span></button>
                        <button type="button" class="btn btn-inverse" ng-click="actions.deleteComment()" tooltip="{{labels.deleteTooltip}}"><span class="glyphicon glyphicon-remove"></span></button>
                    </div>
                </div>
                <div class="panel-body">
                    <!-- Display User Comment -->
                    <div class="col-md-12" ng-bind-html="comment.content" ng-show="!local.edit"></div>
                    <!-- Edit User Comment -->
                    <div class="col-md-12" ng-show="local.isLogged && local.edit">
                        <form name="local.UserEditCommentForm" class="form-horizontal" novalidate ng-submit="actions.updateComment()">
                            <div class="form-group">
                                <textarea name="CommentTXT" class="form-control" rows="3" ng-model="local.EditText" placeholder="{{labels.commentPlaceholder}}" ng-required="true"></textarea>
                            </div>
                            <!-- User Comment Toolbar -->
                            <div class="form-group">
                                <input type="submit" class="btn btn-default btn-xs" name="saveButton" value="{{labels.commentSave}}"  />
                                <input type="button" class="btn btn-danger btn-xs" ng-show="local.UserEditCommentForm.CommentTXT.$invalid && local.UserEditCommentForm.CommentTXT.$dirty" disabled value="{{labels.commentRequired}}" tooltip="{{labels.deleteTooltip}}" />
                            </div>

                        </form>
                    </div>
                </div>
                <!-- User Comment Actions-->
                <div class="col-md-12" ng-show="local.showDeleteCommentErr">
                    <div class="label label-warning pull-right"><span>{{labels.commentNotDelete}}</span></div>
                </div>
                <div class="col-xs-12" ng-show="!local.isLogged || !local.sameUser">
                    <h5>
                        <small><a ng-click="actions.openUserComment()">{{labels.commentAnswer}}</a></small> |
                        <small class="share-comment">
                            <a class="pointer" popover-placement="right" popover-template="lessonCommentSharetemplate.html" id="share{{local.commentIdHtml}}">{{labels.commentShare}}</a>
                        </small>
                    </h5>
                </div>
                <!-- Template for sharing comment permalink [begin]-->
                <script id="lessonCommentSharetemplate.html" type="text/ng-template">
                    <div>
                        <div class="pull-right">
                            <a ng-click="actions.closeShare()">{{labels.commentShareClose}}</a>
                        </div>
                        <h5>{{labels.commentShareTitle}}</h5>
                        <form>
                            <input type="text" class="col-xs-12 col-sm-12 col-md-12 input-xs input-sm" value="{{absUrl}}#{{local.commentIdHtml}}" />
                        </form>
                        <div class="col-xs-12 col-sm-12 col-md-12 ">
                            <social-bar css-class="social-bar-comment" hide-fb-like="true" hide-gp-one="true" abs-url="{{absUrl}}#{{local.commentIdHtml}}"></social-bar>
                        </div>

                    </div>
                </script>
                <!-- Template for sharing comment permalink [end]-->
            </div>
        </div>
        <!-- User Anwser (nested comment of other user's comments) -->
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12" ng-show="local.isLogged && local.answer">
                <form name="local.UserCommentForm" class="form-horizontal" novalidate ng-submit="actions.createComment()">
                    <tabset>
                        <!-- Edit New User Answer -->
                        <tab heading="{{labels.commentEdit}}">
                            <div class="form-group">
                                <div class="col-xs-12 col-sm-12 col-md-12 ">
                                    <textarea name="CommentTXT" class="form-control" rows="3" ng-model="local.commentText" placeholder="{{labels.commentPlaceholder}}" ng-required="true" do-sign-in ng-style="!local.isLogged ? {'background-color':'#F1F1F1'} : {cursor:'text'}"></textarea>  <!--ng-click="!local.isLogged ? actions.openSignIn() : true" -->
                                </div>
                            </div>
                        </tab>
                        <!-- Preview User Answer -->
                        <tab heading="{{labels.commentPreview}}" ng-show="local.isLogged">
                            <div class="col-md-12" ng-bind-html="local.commentText"></div>
                        </tab>
                    </tabset>

                    <!-- User Answer Actions-->
                    <div class="form-group">
                        <div class="col-md-12" ng-show="local.isLogged">

                            <input type="submit" class="btn btn-default btn-xs" name="saveButton" value="{{labels.commentSave}}" />
                            <input type="button" class="btn btn-danger btn-xs" ng-show="local.UserCommentForm.CommentTXT.$invalid && local.UserCommentForm.CommentTXT.$dirty" disabled value="{{labels.commentRequired}}" />
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <!-- New User Comment -->
    <div class="col-md-12" ng-if="local.base">
        <div class="col-md-12 bs-callout bs-callout-info" ng-show="!local.isLogged">{{labels.commentHelp}}</div>
        <div class="col-md-12">
            <form name="local.UserCommentForm" class="form-horizontal" ng-submit="actions.createComment()" novalidate>
                <tabset>
                    <!-- Edit New User Comment -->
                    <tab heading="{{labels.commentEdit}}">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea name="CommentTXT" class="form-control" rows="3" ng-model="local.commentText" placeholder="{{labels.commentPlaceholder}}" ng-required="true" do-sign-in ng-style="!local.isLogged ? {'background-color':'#F1F1F1'} : {cursor:'text'}"></textarea> <!--ng-click="!local.isLogged ? actions.openSignIn() : true" -->
                            </div>
                        </div>
                    </tab>
                    <!-- Preview User Comment -->
                    <tab heading="{{labels.commentPreview}}" ng-show="local.isLogged">
                        <div class="col-md-12" ng-bind-html="local.commentText"></div>
                    </tab>
                </tabset>
                <!-- User Answer Comment -->
                <div class="form-group">
                    <div class="col-md-12" ng-show="local.isLogged">
                        <input type="submit" class="btn btn-default btn-xs" name="saveButton" value="{{labels.commentSave}}" />
                        <input type="button" class="btn btn-danger btn-xs" ng-show="local.UserCommentForm.CommentTXT.$invalid && local.UserCommentForm.CommentTXT.$dirty" disabled value="{{labels.commentRequired}}" tooltip="{{labels.deleteTooltip}}" />
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>  