<div ng-controller="LessonSearchCtrl">
    <form class="navbar-search navbar" ng-submit="search()" id="lessonSearch" ng-init="viewAdvSearch=false;">
        <div class="input-append">
            <input class="span4" id="appendedInputButtons" type="text" placeholder="{{labels.keywordPlaceholder}}" ng-model="keyword">
            <button class="btn" type="submit" ng-click="search()">{{labels.searchButton}}</button>
        </div>

        <a class="navbar-text" ng-click="viewAdvSearch=!viewAdvSearch;">
        <small>{{labels.advancedSearchButton}}</small>
        </a>


        <div  class="form-control" ng-show="viewAdvSearch" style="display:table; width:100%;" >
            <input type="text" placeholder="Disciplina">
            <input type="text" placeholder="Scuola">
            <input type="text" placeholder="Classe">
            <input type="text" placeholder="Autore">
        </div>
    </form>
</div>
