<div ng-controller="LessonSearchCtrl">

    <form class="navbar-search navbar" ng-submit="search()" id="lessonSearch" >
        <div class="input-append">
            <input class="span4" type="text" placeholder="{{labels.keywordPlaceholder}}" ng-model="keyword">
            <button class="btn" type="submit">{{labels.searchButton}}</button>
        </div>
    </form>
    
    <a class="navbar-text" ng-click="openAdvSearch()" style="cursor:pointer">
        <small>{{labels.advancedSearchButton}}</small>
    </a>

    <div class="container" ng-include="'modules/lesson/LessonAdvSearch.html'"></div>
</div>
