<div ng-controller="LessonSearchCtrl">
    <form class="navbar-search navbar" ng-submit="search()" id="lessonSearch">
        <div class="input-append">
            <input class="span4" id="appendedInputButtons" type="text" placeholder="{{labels.keywordPlaceholder}}" ng-model="keyword">
            <button class="btn" type="button" ng-click="search()">{{labels.searchButton}}</button>
        </div>
        <a href="#" class="navbar-text"><small>{{labels.advancedSearchButton}}</small></a>
    </form>
    <div ng-show="false" style="display:table; width:100%">
        <ul>
            <li>ng-show="keyword"</li>
            <li>asdasdasdasdasd</li>
            <li>asdasdasdasdasd</li>
            <li>asdasdasdasdasd</li>
            <li>asdasdasdasdasd</li>
        </ul>
    </div>
</div>
