<div class="panel panel-default">
    <div class="panel-heading">{{labels.lastLessonsTitle}}</div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="lesson in local.lastLessonList">
            <a href="#/lesson/{{lesson.lessonId}}">{{lesson.title}}</a>
        </li>
    </ul>


</div>

<div class="panel" ng-show="local.user.isLogged && local.user.username==local.lesson.author.username">
    <div class="panel-content">

        <div class="btn-group btn-group-justified">
            <a ng-click="actions.editLesson()" class="btn btn-default btn-lg">
                <span class="glyphicon glyphicon-pencil pull-left"></span>
                <span>{{labels.editLessonButton}}</span>
            </a>
        </div>
    </div><!--/panel content-->
</div><!--/panel-->
