<style>
    /*
    #lessonGoods {
        background-color: lightblue;
        border-radius: 10px;
    }

    #lessonBads {
        background-color: #FFE4C4;
        border-radius: 10px;
    }
    */

    /*
        padding: 10px;
        height: 100%;

        padding: 10px;
        height: 100%;

    */
    .mypanel {
        background-color: #F5F5F5;
        -webkit-border-radius: 10px 0 10px 0;
        -moz-border-radius: 10px 0 10px 0;
        border-radius: 10px 0 10px 0;
        padding: 2px;
        height: 100%;
        color: #9DA0A4;
    }

    .mygroup {
        /*position: absolute;
        top: -1px;
        left: -1px;
        padding: 3px 7px;

        font-size: 16px;
        font-weight: bold;
            */
        background-color: #F5F5F5;
        border: 1px solid #DDD;
        color: #9DA0A4;
        -webkit-border-radius: 4px 0 4px 0;
        -moz-border-radius: 4px 0 4px 0;
        border-radius: 4px 0 4px 0;
    }

    .Lesson-Features {
        border-bottom: 1px solid;
        margin-bottom: 15px;
        font-size: smaller;
    }

    .comment-hr {
        margin-top: 0px;
        margin-bottom: 15px;
    }
</style>
<!--<div id="LessonContainer">-->
<!-- Lesson's Heading Area -->
<div id="LessonHeading" class="jumbotron">
    <input type="hidden" name="lesson.id" value="{{lesson.lessonId}}" />
    <h1>{{lesson.title}}</h1>
    <div class="row">
        <div class="col-md-12">
            <span class="Lesson-Features col-md-12">{{labels.specifics}}</span>
            <h4>
                <dl class="dl-horizontal">
                <dt>{{labels.discipline}} :</dt>
                <dd>{{lesson.discipline}}</dd>
                <dt>{{labels.school}} :</dt>
                <dd>{{lesson.school}}</dd>
                <dt>{{labels.classroom}} :</dt>
                <dd>{{lesson.classroom}}</dd>
                <dt>{{labels.author}} :</dt>
                <dd><a><span tooltip-html-unsafe="{{lesson.author.name}}<br>{{lesson.author.surname}}">{{lesson.author.name + " " + lesson.author.surname}}</span></a></dd>
                <dt>{{labels.publishedOn}} :</dt>
                <dd>{{lesson.publishedOn | date:'dd/MM/yyyy'}}</dd>
                <dt>{{labels.rating}} :</dt>
                <dd><rating value="lesson.rate" readonly="true"></rating><span class="label label-info">{{lesson.rate}}</span></dd>
                </dl>
            </h4>
        </div>
    </div>
    <div class="row">
        <span ng-repeat="tag in lesson.tags">
            <button type="button" class="btn btn-success btn-sm disabled" disabled="disabled">{{tag}}</button>
        </span>
    </div>
</div>
<!-- Lesson's Content Area -->
<div id="LessonContent" class="row">
    <div class="col-md-12">
        <div class="panel panel-default">                
            <div class="panel-body"><h2>{{labels.content}}</h2></div>
            <div class="panel-body" ng-bind-html="lesson.content"></div>
        </div>
    </div>
</div>
<!-- Lesson's Feedbacks Area -->
<div id="LessonSummary" class="row">
    <div id="lessonGoods" class="col-md-6" ng-switch="lesson.goods && lesson.goods.length>0">
        <div class="panel panel-info">
            <div class="panel-heading"><h3>{{labels.lessonGoods}}</h3></div>
            <div class="panel-body">
                <ol ng-switch-when="true">
                    <li ng-repeat="item in lesson.goods">{{item}}</li>
                </ol>
                <div ng-switch-when="false">{{labels.noLessonGoods}}</div>
            </div>
        </div>
    </div>
    <div id="lessonBads" class="col-md-6" ng-switch="lesson.bads && lesson.bads.length>0">
        <div class="panel panel-warning">
            <div class="panel-heading"><h3>{{labels.lessonBads}}</h3></div>
            <div class="panel-body">
                <ol ng-switch-when="true">
                    <li ng-repeat="item in lesson.bads">{{item}}</li>
                </ol>
                <div ng-switch-when="false">{{labels.noLessonBads}}</div>
            </div>
        </div>
    </div>
</div>
<!-- Conclusion Area -->
<div id="Conclusion" class="lead row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body"><h2>{{labels.conclusion}}</h2></div>
            <div class="panel-body" ng-bind-html="lesson.conclusion"></div>
        </div>
    </div>
</div>

<!-- User Comments Area -->
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body"><h2>{{labels.comments}}</h2></div>
            <div class="panel-body">
                <!-- Comment History Area -->
                <div class="row" ng-repeat-start="comment in lesson.comments | orderBy:['_order']:false">
                    <!--<lesson-comment comment="comment"></lesson-comment>-->
                    
                    <div class="col-md-{{comment.level}}" ng-show="comment.level>0"></div>
                    <a class="col-md-1" ng-click>
                        <img ng-src="{{comment.author.image}}" width="48px" height="48px">
                    </a>
                    <div class="col-md-{{11-comment.level}}">
                        <div class="row">
                            <b>{{comment.author.username}}</b> - <small>{{comment.date | date:'dd/MM/yyyy HH:mm'}}</small> {{comment._order}}
                        </div>
                        <div class="row" ng-bind-html="comment.content">
                        </div>
                        <div class="row">
                            <h5><small><a ng-click="actions.openUserComment(comment)">{{labels.commentAnswer}}</a></small></h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12" ng-show="isLogged && comment.anwser">
                                <form name="local.UserCommentFormOn{{comment.id}}" class="form-horizontal" novalidate ng-submit="actions.saveComment(comment)">
                                    <tabset>
                                        <tab heading="Edit">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <textarea name="CommentTXT" class="form-control" rows="3" ng-model="local.commentTexts[comment.id]" placeholder="{{labels.commentPlaceholder}}" ng-required="true"></textarea>
                                                </div>
                                            </div>
                                        </tab>
                                        <tab heading="Preview" ng-show="isLogged">
                                            <div class="col-md-12" ng-bind-html="local.commentTexts[comment.id]"></div>
                                        </tab>
                                    </tabset>

                                    <div class="form-group">
                                        <div class="col-md-12" ng-show="isLogged">

                                            <input type="submit" class="btn btn-default btn-xs" name="saveButton" value="{{labels.commentSave}}" />
                                            <input type="button" class="btn btn-danger btn-xs" ng-show="local.UserCommentFormOn{{comment.id}}.CommentTXT.$invalid && local.UserCommentFormOn{{comment.id}}.CommentTXT.$dirty" disabled value="Inserisci almeno un carattere" />
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
        
                </div>

                <hr ng-repeat-end class="comment-hr" />

                <!-- New Comment Area -->
                <div class="row">
                    <!--<lesson-comment></lesson-comment>-->
                    <!--<div class="col-md-1"><img src="img/def-user-icon.png" width="48px" height="48px" alt="Alternate Text" /></div>-->
                    <div class="col-md-12">
                        <div class="col-md-12" ng-show="!isLogged">{{labels.commentHelp}}</div>
                        <div class="col-md-12">
                            <form name="local.UserCommentForm" class="form-horizontal" ng-submit="actions.saveComment()" novalidate>
                                <tabset>
                                    <tab heading="Edit">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <textarea name="CommentTXT" class="form-control" rows="3" ng-model="local.commentText" placeholder="{{labels.commentPlaceholder}}" ng-required="true" ng-click="!isLogged ? actions.openSignIn() : true" ng-style="!isLogged ? {'background-color':'#F1F1F1'} : {cursor:'text'}"></textarea>
                                            </div>
                                        </div>
                                    </tab>
                                    <tab heading="Preview" ng-show="isLogged">
                                        <div class="col-md-12" ng-bind-html="local.commentText"></div>
                                    </tab>
                                </tabset>

                                <div class="form-group">
                                    <div class="col-md-12" ng-show="isLogged">
                                        <input type="submit" class="btn btn-default btn-xs" name="saveButton" value="{{labels.commentSave}}" />
                                        <input type="button" class="btn btn-danger btn-xs" ng-show="local.UserCommentForm.CommentTXT.$invalid && local.UserCommentForm.CommentTXT.$dirty" disabled value="Inserisci almeno un carattere" />
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
<!--                <hr /> -->

            </div>
        </div>
    </div>


</div>
<!-- </div>-->