<form class="bs-example form-horizontal" novalidate>
    <fieldset>
        <legend>Titolo della Lezione</legend>
        <div class="form-group">
            <label for="inputTitle" class="col-lg-2 control-label">Titolo</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="Titolo">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Caratteristiche</legend>
        <div class="form-group">
            <label for="inputDiscipline" class="col-lg-2 control-label">Disciplina</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputDiscipline" placeholder="Disciplina">
            </div>
        </div>
        <div class="form-group">
            <label for="inputScuola" class="col-lg-2 control-label">Scuola</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputScuola" placeholder="Scuola">
            </div>
        </div>
        <div class="form-group">
            <label for="inputClasse" class="col-lg-2 control-label">Classe</label>
            <div class="col-lg-10">
                <input type="text" class="form-control" id="inputClasse" placeholder="Classe">
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contenuto</legend>
        <div class="form-group">
            <div class="col-lg-12">
                <textarea type="textarea" class="form-control" id="inputContent" placeholder="Contenuti" ui-tinymce="model.tinymceoptions" ng-model="model.content" rows="20"></textarea>
            </div>
        </div>
    </fieldset>

    <hr />

    <!-- Lesson's Feedbacks Area -->
    <div id="LessonSummary" class="row">
        <div id="lessonGoods" class="col-md-6" >
            <div class="panel panel-info">
                <div class="panel-heading"><h3>Bene</h3></div>
                <div class="panel-body">
                    ciaociacoaciacoaca
                </div>
            </div>
        </div>
        <div id="lessonBads" class="col-md-6" >
            <div class="panel panel-warning">
                <div class="panel-heading"><h3>Male</h3></div>
                <div class="panel-body">
                    malemalemalmela melae
                </div>
            </div>
        </div>
    </div>



    <fieldset>
        <legend>Conclusioni</legend>
        <div class="form-group">
            <div class="col-lg-12">
                <textarea type="textarea" class="form-control" id="inputConclusion" placeholder="Contenuti" ui-tinymce="model.tinymceoptions" ng-model="model.conclusion" rows="5"></textarea>
            </div>
        </div>
    </fieldset>


</form>